[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
pythainlp = "*"
flask-cors = "*"
facebook-sdk = "*"
python-dotenv = "*"
ipdb = "*"
elasticsearch = "<3.0.0"
toolz = "*"


[dev-packages]



[requires]

python_version = "3.6"
